{% extends 'base-general.html.twig' %}

{% block body %}

<section id="bannerImportacion" class="banner-sec">
  <img src="images/banner-import.jpg" class="img-fluid" alt="Placeholder image">
  </section>
 
 <section id="contImport">

<div class="container myContainer text-center">
<div class="row">
  <div class="col-12 ">
     <h1 class="h1-secciones">Importaciones</h1>
    <p>La empresa se encuentra inmersa en el proceso de inversionista para la remodelaci&oacute;n, adquisici&oacute;n, ampliaci&oacute;n e instalaci&oacute;n de plantas, l&iacute;neas de producci&oacute;n, equipos y sistemas del Ministerio de Industrias.</p>
   
  </div>
  </div>
  
   <div class="row">
  <div class="col-12 ">
     <h2 class="red-text">01</h1>
    <h2>Clientes que trabajan con nosotros</h2>
   
  </div>
  </div>
  <div class="col-12 ">
       <ul class="list-client">
     <li ><a href="#"><img src="images/200x200.gif" width="160" height="160" alt="nombre del cliente" /></a></li>
       <li><a href="#"><img src="images/200x200.gif" width="160" height="160" alt="nombre del cliente" /></a></li>
       <li><a href="#"><img src="images/200x200.gif" width="160" height="160" alt="nombre del cliente" /></a></li>
       <li><a href="#"><img src="images/200x200.gif" width="160" height="160" alt="nombre del cliente" /></a></li>
       <li><a href="#"><img src="images/200x200.gif" width="160" height="160" alt="nombre del cliente" /></a></li>
       <li><a href="#"><img src="images/200x200.gif" width="160" height="160" alt="nombre del cliente" /></a></li>
       <li><a href="#"><img src="images/200x200.gif" width="160" height="160" alt="nombre del cliente" /></a></li>
       <li><a href="#"><img src="images/200x200.gif" width="160" height="160" alt="nombre del cliente" /></a></li>
       <li><a href="#"><img src="images/200x200.gif" width="160" height="160" alt="nombre del cliente" /></a></li>
       <li><a href="#"><img src="images/200x200.gif" width="160" height="160" alt="nombre del cliente" /></a></li>
       <li><a href="#"><img src="images/200x200.gif" width="160" height="160" alt="nombre del cliente" /></a></li>
       <li><a href="#"><img src="images/200x200.gif" width="160" height="160" alt="nombre del cliente" /></a></li>
       <li><a href="#"><img src="images/200x200.gif" width="160" height="160" alt="nombre del cliente" /></a></li>
       <li><a href="#"><img src="images/200x200.gif" width="160" height="160" alt="nombre del cliente" /></a></li>
       
       
     </ul>
  </div>
  
 
   

 

     <div class="row text-center margin-topx2">
     <div class="col-12">
     <h2 class="red-text">02</h2>
       <h2>Proyectos</h2>
     </div>
   
     </div>
   </div>
 </section>
 <section id="proyectoSeleccionado" class="resalt-section">
 <div class="container myContainer">
 <div class="row">
     <div class="col-lg-6">
       <div class="row">
       <div class="col-md-10 col-sm-12 text-sm-center text-lg-left order-md-12"><img src="images/img-proyecto.jpg" class="img-fluid" alt="Placeholder image"></div>
         <div class="col-md-2 col-sm-12 ">
         <ul>
         <li class="active"><a href="#"><img src="images/img-proyecto-min.jpg" class="img-fluid" alt="Placeholder image"></a></li>
         <li><a href="#"><img src="images/img-proyecto-min.jpg" class="img-fluid" alt="Placeholder image"></a></li>
         <li><a href="#"><img src="images/img-proyecto-min.jpg" class="img-fluid" alt="Placeholder image"></a></li>
           
         <li><img src="images/renglon.jpg" class="img-fluid" /></li>
         </ul>
         </div>
         
       </div>
   </div>
     <div class="col-lg-6 text-sm-center text-lg-left margin-top-sm">
       <h2>Nombre del proyecto</h2>
       <span>Alcance</span>
       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in </p>
     </div>
    
  
  </div>
 </div>
 </section>
 <section id="listProyectos">
   <div class="container myContainer">
   <div class="row">
   <div class="col-12">
     <div class="card-columns">
     <div class="card p-3 "> <img class="card-img-top" src="images/img-proyecto-min.jpg" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Card title</h5>
         </div>
       <div class="card-footer text-center"><a href="#proyectoSeleccionado" class="btn btn-dark">Ver Proyecto</a></div>
       </div>
     
     <div class="card p-3"> <img class="card-img-top" src="images/img-proyecto-min.jpg" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Card title</h5>
         </div>
       <div class="card-footer text-center"><a href="#proyectoSeleccionado" class="btn btn-dark">Ver Proyecto</a></div>
       </div>
     
     <div class="card p-3"> <img class="card-img-top" src="images/img-proyecto-min.jpg" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Card title</h5>
         </div>
       <div class="card-footer text-center"><a href="#proyectoSeleccionado" class="btn btn-dark">Ver Proyecto</a></div>
       </div>
     
     <div class="card p-3"> <img class="card-img-top" src="images/img-proyecto-min.jpg" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Card title</h5>
         </div>
       <div class="card-footer text-center"><a href="#proyectoSeleccionado" class="btn btn-dark">Ver Proyecto</a></div>
       </div>
     
     <div class="card p-3"> <img class="card-img-top" src="images/img-proyecto-min.jpg" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Card title</h5>
         </div>
       <div class="card-footer text-center"><a href="#proyectoSeleccionado" class="btn btn-dark">Ver Proyecto</a></div>
       </div>
     
     <div class="card p-3"> <img class="card-img-top" src="images/img-proyecto-min.jpg" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Card title</h5>
         </div>
       <div class="card-footer text-center"><a href="#proyectoSeleccionado" class="btn btn-dark">Ver Proyecto</a></div>
       </div>
       
       <div class="card p-3"> <img class="card-img-top" src="images/img-proyecto-min.jpg" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Card title</h5>
         </div>
     <div class="card-footer text-center"><a href="#proyectoSeleccionado" class="btn btn-dark">Ver Proyecto</a></div>
       </div>
       
       
       </div>
         </div>
   </div>
   </div>
 </section>
 <section id="galeriaImport">
 <div class="container myContainer">
   <div class="row">
     <div class="col-12 text-center">
     <h2 class="red-text">03</h2>
     <h2>Galer&iacute;a de Importaciones</h2>
     </div>
   </div>
   <div class="row galeria margin-top margin-bottom text-center" >
   
   <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6"><a href="images/img-galeria.jpg" data-fancybox="gallery" data-caption="Caption #1"><img src="images/img-galeria-min.jpg" class="img-fluid" alt="Placeholder image"></a></div>
   <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6"><a href="images/img-galeria.jpg" data-fancybox="gallery" data-caption="Caption #1"><img src="images/img-galeria-min.jpg" class="img-fluid" alt="Placeholder image"></a></div>
   <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6"><a href="images/img-galeria.jpg" data-fancybox="gallery" data-caption="Caption #1"><img src="images/img-galeria-min.jpg" class="img-fluid" alt="Placeholder image"></a></div>
   <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6"><a href="images/img-galeria.jpg" data-fancybox="gallery" data-caption="Caption #1"><img src="images/img-galeria-min.jpg" class="img-fluid" alt="Placeholder image"></a></div>
   <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6"><a href="images/img-galeria.jpg" data-fancybox="gallery" data-caption="Caption #1"><img src="images/img-galeria-min.jpg" class="img-fluid" alt="Placeholder image"></a></div>
   <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6"><a href="images/img-galeria.jpg" data-fancybox="gallery" data-caption="Caption #1"><img src="images/img-galeria-min.jpg" class="img-fluid" alt="Placeholder image"></a></div>
   
 
   </div>
   </div>
 </section>

{% endblock %}
{% block javascripts %}
<script>
  $(document).ready(function () {

  })

</script>
{% endblock %}