{% extends 'base-general.html.twig' %}

{% block body %}

<section id="bannerLogistica" class="banner-sec">
  <img src="images/banner-logistica.jpg" class="img-fluid" alt="Placeholder image">
</section>
<section class="margin-bottom">
  <div class="container myContainer">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="h1-secciones">Log&iacute;stica</h1>
        <p class="text-left">Realizamos todos los trámites aduanales de las operaciones contratadas por las entidades,
          tanto en las importaciones, las exportaciones, así como las donaciones, garantizando una respuesta rápida en
          la habilitación de la documentación de las cargas marítimas y aéreas.</p>
        <p class="text-left">
          Llevamos a cabo las clasificaciones por partidas arancelarias y el análisis actualizados de los fletes por
          navieras y por zonas geográficas.
          Gestionamos las pólizas de seguro, así como los trámites de contratación con los transportistas para el
          traslado de contenedores, equipos especializados u otros, así como la contratación con agencias de inspección
          internacional.</p>
      </div>
    </div>
  </div>
  <div class="container myContainer" id="interactLogist">
    <div class="row margin-top">
      <div class="col-6 text-right"><a href="#" id="avion" class="active"><img src="images/avion-logistica.png"
            class="rounded-circle img-fluid" alt="Placeholder image"></a></div>
      <div class="col-6 text-left"><a href="#" id="barco"><img src="images/barco-logistica.png"
            class="rounded-circle img-fluid" alt="Placeholder image"></a></div>
    </div>
    <div id="infoAvion">
      <div class="row margin-top">
        <div class="col-6 text-right font-weight-bold">Lugar de Entrega</div>
        <div class="col-6"><span>Terminal de AereoVaradero / Almacenes DHL</span></div>
      </div>
      <div class="row">
        <div class="col-6 text-right font-weight-bold">Demora de Tr&aacute;mites</div>
        <div class="col-6"><span>3 D&iacute;as</span></div>
      </div>
      <div class="row">
        <div class="col-6 text-right font-weight-bold">Plazo de Entrega</div>
        <div class="col-6"><span>3 d&iacute;as libres de impuesto</span></div>
      </div>
    </div>
    <div id="infoBarco" class="hiden">
      <div class="row margin-top">
        <div class="col-6 text-right font-weight-bold">Lugar de Entrega</div>
        <div class="col-6"><span>Cargas Agrupadas: Puerto de Mariel</span><span>Contenedores: Almacenes de destino final
            Zona Franca</span></div>
      </div>
      <div class="row">
        <div class="col-6 text-right font-weight-bold">Demora de Tr&aacute;mites</div>
        <div class="col-6"><span>3 D&iacute;as</span></div>
      </div>
      <div class="row">
        <div class="col-6 text-right font-weight-bold">Plazo de Entrega</div>
        <div class="col-6"><span>12 d&iacute;as libres de impuesto</span></div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
{% block javascripts %}
<script>
  $(document).ready(function () {

  })

</script>
{% endblock %}