{% extends 'base-general.html.twig' %}

{% block body %}

<section id="bannerLogistica" class="banner-sec">
  <img src="{{asset('images/banner-logistica.jpg')}}" class="img-fluid" alt="Placeholder image">
</section>
<section class="margin-bottom">
  <div class="container myContainer">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="h1-secciones">{% trans %}h_logistica{% endtrans %}</h1>
        <p class="text-left">{% trans %}p_logistic_text1{% endtrans %}</p>
        <span id="headerlink"></span>
        <p class="text-left">{% trans %}p_logistic_text2{% endtrans %}</p>
      </div>
    </div>
  </div>
  <div class="container myContainer" id="interactLogist">
    <div class="row margin-top">
      <div class="col-6 text-right"><a href="#headerlink" onclick="openInfo(1)" id="avion" class="active"><img src="{{asset('images/avion-logistica.png')}}"
            class="rounded-circle img-fluid" alt="Placeholder image"></a></div>
      <div class="col-6 text-left"><a href="#headerlink" onclick="openInfo(2)" id="barco"><img src="{{asset('images/barco-logistica.png')}}"
            class="rounded-circle img-fluid" alt="Placeholder image"></a></div>
    </div>
    <div id="infoAvion">
      <div class="row margin-top">
        <div class="col-6 text-right font-weight-bold">{% trans %}tx_entrega{% endtrans %}</div>
        <div class="col-6"><span>{% trans %}tx_entrega2{% endtrans %}</span></div>
      </div>
      <div class="row">
        <div class="col-6 text-right font-weight-bold">{% trans %}tx_demora{% endtrans %}</div>
        <div class="col-6"><span>3 {% trans %}tx_demora2{% endtrans %}</span></div>
      </div>
      <div class="row">
        <div class="col-6 text-right font-weight-bold">{% trans %}tx_plazo{% endtrans %}</div>
        <div class="col-6"><span>3 {% trans %}tx_plazo2{% endtrans %}</span></div>
      </div>
    </div>
    <div id="infoBarco" class="hiden">
      <div class="row margin-top">
        <div class="col-6 text-right font-weight-bold">{% trans %}tx_entrega{% endtrans %}</div>
        <div class="col-6"><span>{% trans %}tx_entrega3{% endtrans %}</span></div>
      </div>
      <div class="row">
        <div class="col-6 text-right font-weight-bold">{% trans %}tx_demora{% endtrans %}</div>
        <div class="col-6"><span>3 {% trans %}tx_demora2{% endtrans %}</span></div>
      </div>
      <div class="row">
        <div class="col-6 text-right font-weight-bold">{% trans %}tx_plazo{% endtrans %}</div>
        <div class="col-6"><span>12 {% trans %}tx_plazo2{% endtrans %}</span></div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
{% block javascripts %}
<script>
  $(document).ready(function () {
    $(".who-active").removeClass("active");
    $("#logLink").addClass("active");
  })

  var openInfo = function(number) {
      if(number == 1) {
        $("#infoAvion").show();
        $("#infoBarco").hide();
      } else {
        $("#infoAvion").hide();
        $("#infoBarco").show();
      }
  }

</script>
{% endblock %}