{% extends 'base-general.html.twig' %}

{% block body %}

<section id="bannerMercado" class="banner-sec">
  <img src="images/banner-mercado.jpg" class="img-fluid" alt="Placeholder image">
</section>

<section id="contMercado">

  <div class="container myContainer text-center">
    <div class="row">
      <div class="col-12 ">
        <h1 class="h1-secciones">mercadotecnia</h1>
        <p>Nos dedicamos a identificar e impulsar nuevos mercados, logrando una empresa más competitiva, desarrollando
          las funciones vinculadas a la imprtación y la exportación.</p>
      </div>
    </div>
    <div class="row margin-top margin-bottom">
      <div class="col-12">
        <h2 class="red-text">01</h2>
        <h2>Solicitar una importaci&oacute;n</h2>
        <p>Si usted necesita realizar una importación, le explicamos a continuación cada de uno de los pasos.</p>
      </div>
    </div>
    <div class="row text-center margin-bottom">
      <div class="col-2 d-none d-xl-block"></div>
      <div class="card col-lg-3 col-md-3 col-xl-2 col-sm-6"> <img class="card-img-top" src="images/mercado-solic-01.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Firma de contrato</h5>
          <p class="card-text">Para realizar una importación usted necesita tener contrato con nosotros, por lo que debe
            de dirigirse a nuestra sede.</p>
        </div>
        <div class="card-footer">

        </div>
      </div>
      <div class="card col-lg-3 col-md-3 col-xl-2 col-sm-6"> <img class="card-img-top" src="images/mercado-solic-02.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Anexo 1</h5>
          <p class="card-text">Se menciona la necesidad de importaci&oacute;, la forma de pago, la fecha límite, entre
            otros.</p>
        </div>
        <div class="card-footer">
          <a href="downloads/anexo1.rar" class="btn btn-primary">Descargar Modelo</a>
          <a href="downloads/anexo1-e.rar" class="btn btn-light">Descargar Ejemplo</a>
        </div>
      </div>
      <div class="card col-lg-3 col-md-3 col-xl-2 col-sm-6"> <img class="card-img-top" src="images/mercado-solic-03.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Fundamentaci&oacute;n</h5>
          <p class="card-text">Se fundamentan los motivos de la importación.</p>
        </div>
        <div class="card-footer">
          <a href="downloads/fundamentacion.rar" class="btn btn-primary">Descargar Modelo</a>
          <a href="downloads/fundamentacion-e.rar" class="btn btn-light">Descargar Ejemplo</a>
        </div>
      </div>
      <div class="card col-lg-3 col-md-3 col-xl-2 col-sm-6"> <img class="card-img-top" src="images/mercado-solic-04.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Solicitud</h5>
          <p class="card-text">Se argumentan los productos a importar, especificando características técnicas y datos
            necesarios para la importación</p>
        </div>
        <div class="card-footer">
          <a href="downloads/solicitud-import.rar" class="btn btn-primary">Descargar Modelo</a>
          <a href="downloads/solicitud-import-e.rar" class="btn btn-light">Descargar Ejemplo</a>
        </div>
      </div>
      <div class="col-2 d-none d-xl-block"></div>
    </div>
    <div class="row text-center margin-topx2 margin-bottom">
      <div class="col-sm-12 col-lg-6 ">
        <h2 class="red-text">02</h2>
        <h2>Tramite de visados</h2>
        <div class="text-lg-left">
          <p>Gestionamos cambios de visado para el trabajo en las empresas seg&uacute;n corresponda. Si desea solicitar
            este servicio, a continuación le dejamos el modelo pertinente para la solicitud del servicio.</p>
          <h4 class="margin-bottom margin-top">Tipos de Visado con los que trabajamos:</h4>
          <p>
            <strong><span class="red-text">D-7</span> Representantes comerciales o agentes de negocios</strong><br>
            Se le otorga a extranjeros que viajen a Cuba para dedicarse a actividades comerciales o de negocios con el
            consentimiento expreso de los organismos autorizados en Cuba para ello
          </p>
          <p>
            <strong><span class="red-text">D-1</span> Técnicos y Científicos</strong><br>
            Se expide a los extranjeros técnicos, científicos o que por su especial calificacion, sean contratados por
            los organismos oficiales cubanos para trabajar en Cuba.
          </p>
          <p>
            <strong><span class="red-text">A-7</span> Para Ofertar Negocio o Servicios</strong><br>
            Se expide a aquellos extranjeros que soliciten viajar a Cuba a fin de ofertar algún tipo de negocio o
            prestar sus servicios, pero no haya contactado con entidades estatales cubanas.</p>
        </div>
        <a href="#" class="btn btn-primary">Descargar Modelo</a>
      </div>

      <div class="col-sm-12 col-lg-6 margin-topx2-sm">
        <h2 class="red-text">03</h2>
        <h2>Gesti&oacute;n de Ofertas</h2>
        <p class="text-lg-left">Una de las actividades a desarrollar por la UEB de Mercadotecnia es la gestión de
          ofertas y referencias de precios, hacemos un estudio de mercado para brindarle a nuestros clientes mejores
          ofertas.</p>
      </div>

    </div>
    <div class="row margin-top">
      <div class="col-12">
        <h2 class="red-text">04</h2>
        <h2 class="margin-bottom">Cartera de proveedores</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-12 margin-bottom" id="mapa">

        Aqui cargar mapa.html


      </div>
    </div>

</section>

{% endblock %}
{% block javascripts %}
<script>
  $(document).ready(function () {

  })

</script>
{% endblock %}