security:
    encoders:
        App\Entity\User:
            algorithm: auto

    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: lazy
            guard:
                authenticators:
                    - App\Security\UserAuthenticationAuthenticator
            logout:
                path: app_logout
                # where to redirect after logout
                # target: app_any_route

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#firewalls-authentication

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        - { path: home, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/login$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/logout$, roles: IS_AUTHENTICATED_ANONYMOUSLY }        
        # - { path: ^/$, roles: ['ROLE_ADMINISTRADOR','ROLE_DOCTOR','ROLE_SECRETARIA','ROLE_ADMINISTRADOR'] }
        # - { path: ^/paciente/*, roles: ['ROLE_DOCTOR','ROLE_SECRETARIA','ROLE_ADMINISTRADOR'] }
        # - { path: ^/citas/*, roles: ['ROLE_DOCTOR','ROLE_SECRETARIA','ROLE_ADMINISTRADOR'] }
        # - { path: ^/perfil/*, roles: ['ROLE_DOCTOR','ROLE_SECRETARIA','ROLE_ADMINISTRADOR'] }
        # - { path: ^/reporte/*, roles: ['ROLE_DOCTOR','ROLE_ADMINISTRADOR'] }
        # - { path: ^/*, roles: ['ROLE_ADMINISTRADOR'] }
        # - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_USER }
