@charset "utf-8";
/* CSS Document */
section{
	margin-top: 50px;
}
section p{
	text-align: left;
}
h1{
	margin-bottom:40px;
}

h1, h2, h3, h4, .h1-secciones {
	font-family: 'Patua One', cursive;
	
}
.redBg{
	background-color: #c1272d !important;
	
}

.redBg .active{
	border-radius: 5px;
	background-color: #871b20;
}
.redBg .nav-link{
	padding-left: 10px !important;
	padding-right: 10px !important;
	border-radius: 5px;
}

.redBg .nav-link:hover{
	color: #fff !important;
	background-color:#FF0004 !important;
	
	
}
.nav-link {
	color:#cccccc !important;
}
.dropdown-divider{
	border-top:1px solid #ee444b;
}
#idiomas li a{
	
	margin-left: 10px;
}
#idiomas li a:hover{
	opacity:0.7;
}
#usuario{
	margin-right:10px;
	margin-left:40px;
	color:#fff;
}
#usuario li{
	
	margin-right:5px;
}
#usuario a{
	color:#fff;
	background-color: #000;
	border-radius: 5px;
	padding: 5px;
}
#usuario a:hover{
	background-color: #FF0004;
	text-decoration: none;
	
}
#banner .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: 2600px 1660px;
  -moz-background-size: 2600px 1660px;
  -o-background-size: 2600px 1660px;
  background-size: 2600px 1660px;
	background-position: center -580px;
	
}
#slideImport{
	background-position: center -380px;
}
@media (min-width:768px){
#slideImport{
	background-position: -950px -380px;
}
}
}
@media (max-width:576px){
#slideImport{
	background-position: 60% -380px;
}
}
.carousel-caption{
	bottom: 40%;
}
.carousel-caption .lead{
	width: 40%;
	
}

#carrouselRenglones p {
	font-size: 10pt;
	
}
#carrouselRenglones .carousel-item{
	padding-left: 9%;
}

#carrouselRenglones .card {
	border:none;
	cursor: pointer;
	
	border-radius: 5px;
}
#carrouselRenglones .card:hover{
	background-color: #eeeeee;
}
#carrouselRenglones .card img{
	border-radius: 5px 5px 0px 0px;
	max-width: 210px;
	max-height: 200px;
	margin: 5px auto;
	
}
#carrouselRenglones .carousel-control-prev, .carousel-control-next{
	width: 5%;
}
#carrouselRenglones .carousel-control-prev-icon{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%c' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}
#carrouselRenglones .carousel-control-next-icon{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%c' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}
.myContainer{
	max-width: 1400px !important;
}
.resalt-section{
	padding: 40px 0px;
	background: url("../images/sup.png") top left no-repeat, url("../images/inf.png") bottom right no-repeat, #221e20;
	color: #ccc;
}
.resalt-section h2{
	color: #fff;
}

.resalt-section p{
	margin-top: 20px;
}
.resalt-section span{
	background-color:#c1272d;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
}
.list-client{
	margin-top: 40px;
	padding: 0px;
}
.list-client li{
	display: inline-block;
	margin: 1%;
}
.gray-cont{
background-color:#eee;
}
#dondeEstamos h3{
	color: red;
}
#dondeEstamos a{
	color: #5F0001;
	
}
#dondeEstamos a:hover{
	color: #FF0002;
	
}
footer {
	overflow-x: hidden;
	color: #999999;
}
footer .fluid-container{
	background-color: #221e20;
	padding: 40px 0px 40px 0px;
	
}
footer h2{
	color: #fff;
}
footer a{
	color:#fff;
	text-decoration: none;
}
footer a:hover{
	color: #AD1C1F;
}
footer ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	
}
#redes-footer a{
	display: inline-block;
	margin: 5px 5px;
	opacity: .8;
}
#redes-footer a:hover{
	background-color: darkred;
	opacity: 1;
}
#formContactFooter{
	width: 80%;
	float: right;
	margin-top: 10px;
	
	
}
#formContactFooter textarea{
 width: 100%;	
}
@media (max-width: 1200px) {
	.center-sm{
		text-align:center;
	}
	
}

@media (max-width:840px){
	.carousel-caption {
    bottom: 5% !important;
		text-align: center !important;
}
	.carousel-caption .lead{
		width: 100%;
		font-size: 1.0rem;
	}
	.display-4{
		font-size: 1.8rem !important;
	}
	#banner .carousel-item{
		background-size:cover;
		background-position:67% bottom;
	}
}
@media (max-width:435px){
	.carousel-caption .lead{
		display: none;
	}
}
@media (max-width: 768px)  { 
#carrouselRenglones .carousel-item{
	padding-left: 0%;
}
	
	
}
@media (max-width:1200px){
	.redBg .active{
	
	border-radius: 5px;
}
	#usuario{
		margin:0px 0px 10px 0px;
	}
	#idioma{
		margin:10px;
	}
	#usuario li{
		margin: 5px;
	}
	#noticia h2{
		margin-top: 40px;
	}
	#menu li{
		border-radius: 5px;
		margin-top: 2px;
		background-color: #a8242a;
	}
	#menu li.active{
		background-color: #871b20;
	}
	#idiomas{
		margin-bottom:5px;
	}
	#banner .carousel-item{
		background-size:auto 105%;
		background-position:73% bottom;
	}
	#slideImport{
		background-size:auto 144% !important;
	}
	
}

@media (max-width: 992px){
		#formContactFooter {
    width: 80%;
    float: none;
    margin: 0px auto;
}
	footer h2{
		margin: 40px 0px 40px 0px;
	}
	footer .fluid-container {
    padding: 0px 0px 40px 0px;
}
	}
.modal-70{
	width: 70%;
	max-width: 700px;
	margin: 2rem auto;
}
.red-text{
	color:#FF0004;
}
#modalEncuesta p{
	margin-bottom:0px;
	margin: 10px;
}
#modalEncuesta .row{
	margin-bottom:10px;
}
#modalEncuesta #encuestaPreguntas .row:nth-child(odd){
	background-color: #e6e6e6;
	border-radius: 5px;
}
#modalEncuesta ul{
	list-style: none;
	margin: 0px;
	
}
#modalEncuesta ul li{
	display: inline-block;
	float: left;
	margin: 0px 10px 0px 0px;
	opacity: .5;
}
#modalEncuesta ul li:hover, #modalEncuesta ul li.active{
	opacity: 1;
}
.margin-bottom{
	margin-bottom: 40px;
}
.margin-top{
	margin-top: 40px;
}
.margin-topx2{
	margin-top: 70px;
}
#interactLogist a{
	opacity: .6;
	transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
}
#interactLogist a:hover, #interactLogist a.active{
	opacity: 1;
	
}
#interactLogist span{
	background-color: #c1272d;
	border-radius: 5px;
	display: block;
	padding: 5px 15px;
	color: #fff;
	float: left;
	margin-bottom: 10px;
}
.hiden{
	display: none;
}
.h1-secciones{
	text-transform: uppercase;
	font-size: 4em;
}
#contMercado .card{
	border:none !important;
	
}
#contMercado .card img{
	border-radius: 5px;
}
#contMercado .card img:hover{
	opacity: .9;
}
#contMercado .card-footer{
	border: none !important;
	background-color: #fff;
}
#contMercado .card-text{
	text-align: left;
}
@media (max-width:992px ) {
	.margin-topx2-sm{
		margin-top: 70px;
	}
	.margin-top-sm{
		margin-top: 40px;
	}
	
}
#proyectoSeleccionado img{
	border-radius: 5px;
}
#proyectoSeleccionado ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#proyectoSeleccionado li{
	margin-bottom: 1em;
	border-radius: 5px;
	transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
	
}

#proyectoSeleccionado li.active{
	opacity: .6;
}
#proyectoSeleccionado li:hover{
	background-color: #FF0004;
	
}
#proyectoSeleccionado li:hover a{
	opacity: .6;
}
#listProyectos .card{
	border:none;

}
#listProyectos .card img{
	border-radius: 5px;
}
@media (min-width: 48em){
	#listProyectos .card-columns{
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (max-width:510px){
	.h1-secciones{
		font-size: 250%;
	}
	h2{
		font-size:150%;
	}
	.banner-sec{
		margin-top:63px;
	}
}
@media (min-width:200px) and (max-width:768px){
	#proyectoSeleccionado ul{
		margin: 10px auto 0 auto;
		float: left;
		
	}
	#proyectoSeleccionado li{
		float: left;
		display: inline-block;
		margin-right: 10px;
	}
	#proyectoSeleccionado li:last-child img{
		max-height: 82px;
	}
}
.galeria a{
	
	box-sizing: border-box;
	float: left;
	margin-top: 20px;
	border-radius: 5px;
	transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
}
.galeria a:hover{
	padding: 5px;
	background-color: #c1272d;
}
.galeria a:hover img{
	opacity: 0.6;
}
.galeria img{
	border-radius: 5px;
}
#padreMapa{
	width:100%;
	position: relative;
}
#infoContinente{
	position: absolute;
	width: 20%;
	min-width:250px;
	min-height: 200px;
	padding: 20px;
	right: 2%;
	top: 30%;
	border-radius: 10px;
	background-color: #c1272d;
	color: #fff;
	box-shadow:  2px 3px 3px #888888;
	cursor: pointer;
	display: none;
}
#renglonesExportacionExp .card{
	border: none;
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;

}
#renglonesExportacionExp .card:hover, #renglonesExportacionExp .activeCard{
	color: #fff;
	background-color: #c1272d;
	
}
#proyectoSeleccionado{
	display: none;
}
#renglonesExportacionExp img{
	border-radius: 5px;
}
#renglonesExportacionExp .carousel-control-next, #renglonesExportacionExp .carousel-control-prev{
	width: 5%;
	display: none;
}
#renglonesExportacionExp:hover .carousel-control-next, #renglonesExportacionExp:hover .carousel-control-prev{
	display: flex;
}
@media (max-width:1200px){
	#renglonesExportacionExp .carousel-control-next, #renglonesExportacionExp .carousel-control-prev{
	display: flex;
}
}
#listProyectos .card-footer{
	border: none;
	background-color: #fff;
}