{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="h3 mb-2 text-gray-800">Nueva Galería</h1>
    <p class="mb-4"></p>
    <div class="card shadow mb-4">
    <div class="card-header py-3 ">
        <h5 class="m-0 font-weight-bold text-primary" style="display:inline">Nuevo</h5>
        <a href="{{ path('galeria_index') }}" class="btn btn-secondary float-right" >Volver a listado</a>
        
    </div>
    <div class="card-body">
        
           
        {{ include('galeria/_form.html.twig') }}
            
       
        
    </div>
    </div>   

{% endblock %}
